<div class="container">
  <h1>Profile</h1>
  <hr />
  <article>
    <p><strong><h3 style="display: inline;">First Name:</h3> </strong>
      <h5 style="display: inline;">{{firstName}}</h5></p>
    <p><strong><h3 style="display: inline;">Last Name:</h3> </strong>
      <h5 style="display: inline;">{{lastName}}</h5></p>
    <p><strong><h3 style="display: inline;">Role:</h3> </strong>
      <h5 style="display: inline;">{{role}}</h5></p>
    <p><strong><h3 style="display: inline;">Email:</h3> </strong>
      <h5 style="display: inline;">{{email}}</h5></p>
    <p><strong><h3 style="display: inline;">Age:</h3> </strong>
      <h5 style="display: inline;">{{age}}</h5></p>
  </article>

  <a href="/api/sessions/logout"> Log Out</a>
</div>